<!-- FOOTER
  ============================================= -->
  <div class="footer">
    <!-- Widget Area -->
    <div class="b-widgets">
      <div class="layout">
        <div class="row">
          <!-- Links -->
          <div class="row-item col-1_4">
          </div>
          <!-- End Links -->
          <!-- Latest Tweets -->
          <div class="row-item col-1_4">
          </div>
          <!-- End Latest Tweets -->
          <!-- Tag Cloud -->
          <div class="row-item col-1_4">
          </div>
          <!-- End Tag Cloud -->
          <%= render :partial => "partials/login" %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Widget Area -->
    <!-- Copyright Area -->
    <div class="b-copyright">
      <div class="layout">
        <!-- Copyright Text -->
        <span class="copy">Droit d'auteur © 2014 <a href="#">Graep</a>. Tous droits réservés.</span>
        <!-- Social Icons -->
        <ul class="b-social bot">
          <li>Suivez-nous:</li>
          <li><a class="fb" href="#"><i class="icon-facebook"></i></a>
          </li>
          <li><a class="tw" href="#"><i class="icon-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
</body>
</html>