<div class="gap" style="height: 15px;"></div>

<div id="contact">

  <div class="form-message"></div>

  <form class="b-form b-contact-form" action="contact.php" style="margin-bottom: 10px;">
    <div class="input-wrap">
      <i class="icon-user"></i>
      <input class="field-name" type="text" placeholder="Nom (requis)">
    </div>
    <div class="input-wrap">
      <i class="icon-envelope"></i>
      <input class="field-email" type="text" placeholder="Courriel (requis)">
    </div>
    <div class="input-wrap">
      <i class="icon-pencil"></i>
      <input class="field-subject" type="text" placeholder="Sujet">
    </div>
    <div class="textarea-wrap">
      <i class="icon-pencil"></i>
      <textarea class="field-comments" placeholder="Message"></textarea>
    </div>
    <input class="btn-submit btn colored" type="submit" value="Soumettre commentaire">
  </form>
  <div class="gap" style="height: 20px;"></div>
</div>