<div class="row-item col-1_4" id="login-form">
  <h3>Connection section des membres</h3>
  <% if logged_in? %>
    Bonjour, <%= current_user.login %> <%= link_to "Déconnection", cms.logout_path %>
  <% else %>
    <% if flash[:login_error] %>
      <div class="b-message message-error">
        <%= flash[:login_error] %>
       <div class="message-close icon-remove"></div>
      </div>
    <% end %>
  <% end %>
</div>