<%= render :partial => "partials/header" %>
  <div class="content">
    <div class="layout">
      <div class="row">
        <div class="row-item col-1_2">
          <%= container :gauche %>
        </div>
        <div class="row-item col-1_2">
          <%= container :droite %>
        </div>
      </div>
    </div>
  </div>
<%= render :partial => "partials/footer" %>