<%= render :partial => "partials/header" %>

<div class="content shortcodes">
    <div class="layout">
      <h2 class="centered error-404">404</h2>
      <p class="centered p-20" style="margin-bottom: 25px;">Erreur 404! Désolé, la page demandée n'existe pas sur le serveur.</p>
      <p class="centered"><a href="/" class="btn big colored"><i class="icon-circle-arrow-left"></i>Retour à l'accueil</a></p>
    </div>
</div>

<%= render :partial => "partials/footer" %>